/* Large devices (laptops/desktops, 992px and up) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    /* height: 100; */




    /* display: grid; */
    /* grid-template-areas:
        "header header"
        "content content"; */
    /* grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    padding: 10px; */

}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.controls {
    display: flex;
    align-items: flex-start;
}

#column {
    display: flex;
    flex-direction: column;
}

.justify {
    justify-content: space-between;
    align-items: baseline;

}

#margin button {
    margin-right: 62px;
}

#range button {
    margin-right: 5px;
}

#progression {
    width: 200px;
}

#margin {
    margin-bottom: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
    width: 200px;
    padding: 50px;
}

#search-img {
    width: 30px;
    height: 30px;
    flex-grow: 3;
    background-color: #f0f0f0;
}

.search input[type="search"] {
    margin-bottom: 5px;
    padding: 10px;
    margin-right: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.sidebar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    justify-content: stretch;

}

main {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.sidebar td {
    list-style-type: none;
    padding: 0;
}

.sidebar table {
    border-collapse: collapse;
    width: 110px;
}

.sidebar table tr td {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.content {
    display: flex;
    padding: 10px;
    /* overflow-y: auto; */
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 10px 15px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px 5px;
    padding: 5px;
    height: 220px;
}

.card img {
    width: 90%;
    height: auto;
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    width: 200px;
    text-align: center;
}

.name-song figcaption {
    font-weight: normal;

}

.song {
    font-size: 14px;
    text-align: center;
}

.player {
    width: 50px;
}


/* Le Responsive sera fait sur une autre page */

/* Medium devices (landscape tablets, 768px and up) */
/* 
@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        height: 300px;
    }


}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        width: 100%;
    }

    .content {
        display: flex;
        width: 350px;
    }

    .small {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .form {
        display: flex;
    }

    .controls {
        display: flex;
        align-items: center;
    }

    #column {
        display: flex;
        flex-direction: column;
    }

    .justify {
        justify-content: space-around;
        align-items: center;
        width: 100%;

    }

    .small {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .form {
        display: flex;
    }

    #progressBar {
        width: 75%;
    }

    .search {
        display: flex;
        height: 30px;
        padding: 10px;
    }

    #searchBar {
        height: 10px;
    }

} */


/* Extra small resolution */
/* @media only screen and (max-width: 600px) {
 .grid {
        grid-template-columns: repeat(3, 1fr);
    } 

    .small {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .search {
        display: flex;
        justify-content: baseline;
    } */

/* #searchBar {
        width: 380px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid #ddd;

    } */


/* }  */